<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Bot Registration Page</title>
    <style>
        .banner {
            background:linear-gradient(to left, #007bff, #9198e5);
        }
        .form-control{
            background:#F2F2F2;
            border-radius:0;
            border:none;
        }
    </style>
    <script>
        function create() {
            let name = document.getElementById("floatingTextInput1").value;
            let describe = document.getElementById("floatingTextInput2").value;

            if (name.length < 4) {
                alert("봇 이름은 4자 이상입니다!");
                return false;
            }

            fetch("http://localhost:8090/bot/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    name: name,
                    description: describe
                })
            })
            .then((res) => res.json())
            .then((data) => alert(data))
        }
    </script>

</head>
<body>
<div class="banner">
    <div class="container p-5">
        <h5 class="pb-4">Bot Registration</h5>
        <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:0; border:none">
            <div class="card-body p-5">
                <h4 class="card-title mb-3 text-dark text-uppercase" style="font-weight:700">Create Bot</h4>

                <form onsubmit="return create();">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingTextInput1" placeholder=" ">
                                <label for="floatingTextInput1">Bot Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingTextInput2" placeholder=" ">
                        <label for="floatingTextInput2">description your bot</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="border-radius:0">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>
</html>